---
layout: default.njk
title: Blog
---
<div class="blog-container">
    <h1>Blog Posts</h1>
    <ul class="post-list">
    {%- for post in collections.posts -%}
        <li>
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <p class="post-meta">{{ post.date | dateFilter }}</p>
            <p>{{ post.data.excerpt }}</p>
            <a href="{{ post.url | url }}" class="read-more">Read more</a>
        </li>
    {%- endfor -%}
    </ul>
</div>
